@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 80vw;
  height: 68.6vw;
  background-color: #0e0716;
  margin:auto;
  margin-top: 2rem;
}

cf-board {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 1rem;
  width: 100%;
  height: 100%;

  background-color: #4a71f0;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-clip: border-box;
}

.title {
  background-color: #4a71f0;
  color: #fbee75;
  padding: 1rem;
  text-align: center;
  width: 100%;

}

cf-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 10.43vw;
  height: 100%;

  border-radius: 1rem;
  opacity: .7;
}

cf-column:hover {
  opacity: 1;
}

cf-space {
  display: block;
  width: 100%;
  height: 10.43vw;
  background-image: url("../images/cf-space-fill.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.filled-red {
  background-image: url("../images/cf-space-red.png");
}

.filled-yellow {
  background-image: url("../images/cf-space-yellow.png");
}

@media all and (min-width: 860px) {
  .wrapper {
    width: 49vw;
    height: 41vw;
  }
}
